

#subpage
{
	position:relative;
}

.myform
{
	position:relative;
	height:400px; /*hardcoded to avoid overlapping */ 
	width:400px;
	
}
.label
{
	position:absolute;
	top:0;
	left:0;
	width:60%;
		height:auto;
			
}
.input
{
	position:absolute;
	top:0;
	right:0;
	width:40%;
	height:auto;
}
.line
{
height:20px;
}

.area
{
	
}
#test
{
	position:relative;
}
.areas
{
	position:relative;
}
.buttons
{
	position:relative;
}

.extra
{
	position:fixed;
	bottom:25px;
	right:25px;
}